<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sameteam">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_PHONE_CALL"/>
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <!--
 <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="21"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    -->
    <!--
   <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions" />
    -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.example.sameteam.messages.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/> -->
    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".homeScreen.drawerNavigation.activity.AddEventActivity"
            android:exported="false" />
        <activity android:name=".homeScreen.bottomNavigation.chatModule.activity.ShowImageActivity" />
        <activity
            android:name=".homeScreen.bottomNavigation.chatModule.activity.TeamDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".homeScreen.bottomNavigation.chatModule.activity.CallActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true" />
        <activity
            android:name=".helper.ImagePickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".authScreens.ApprovalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".homeScreen.bottomNavigation.chatModule.activity.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".homeScreen.bottomNavigation.chatModule.activity.CreateTeamActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".homeScreen.bottomNavigation.calendarModule.activity.CreateTaskActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".homeScreen.bottomNavigation.chatModule.activity.UserDirectoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".homeScreen.drawerNavigation.activity.MyEventsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".homeScreen.drawerNavigation.activity.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".homeScreen.bottomNavigation.userDirectoryModule.activity.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".homeScreen.bottomNavigation.userDirectoryModule.activity.ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".authScreens.CheckEmailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onBoarding.OnBoardingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".authScreens.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".authScreens.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".authScreens.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".homeScreen.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helper.PermissionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!--
   <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.mydomain.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        -->
<!--        <service android:name=".quickBlox.service.CallService" />-->
        <service
            android:name=".quickBlox.service.CallService"
            android:exported="false"
            android:foregroundServiceType="phoneCall">
        </service>
        <service android:name=".quickBlox.service.LoginService" />

        <meta-data
            android:name="com.quickblox.messages.TYPE"
            android:value="FCM" />
        <meta-data
            android:name="com.quickblox.messages.SENDER_ID"
            android:value="@string/sender_id" />
        <meta-data
            android:name="com.quickblox.messages.QB_ENVIRONMENT"
            android:value="@string/qb_environment" />

        <service
            android:name=".fcm.PushListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.quickblox.messages.services.fcm.QBFcmPushListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.quickblox.messages.services.fcm.QBFcmPushInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5910824879176970~9507085002"/>

    </application>

</manifest>